section{
    background-color: #444;
    display: grid;
    gap: 2rem;
}


@media screen and (min-width: 768px) {
    section{
        grid-template-columns: auto auto;
    }
    
}

@media screen and (min-width: 992px) {
    section{
        grid-template-columns: auto auto auto;
    }
    
}