.country-container{
    background-color: #333;
    color: white;
    padding: .6rem;
    
}

.country-container h1{
    text-align: center;
    margin-bottom: 2rem;
}

.country-container span{
    display: block;
    text-align: center;
    font-family: Georgia;
}